---
import Button from "@components/global/button.astro";
import { cases } from "./cases";
const base = import.meta.env.BASE_URL;
---

<section id="use-cases" class="py-3 py-md-5">
  <div class="container mt-md-3">
    <div class="row py-4">
      {
        cases.map((config) => (
          <div class="col-md-4 mb-3 text-center">
            <div class="card border">
              <div class="card-body">
                <img src={`${base}assets/images/${config.img}`} alt={config.title} width="50%" class="pb-4" />
                <h5 class="text-secondary">{config.title}</h5>

                <div class="mt-4">
                  <Button title="Descargar" link={`${base}assets/resources/${config.link}`} target="_blank" />
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
