---
const pathname = Astro.url.pathname;
const base = import.meta.env.BASE_URL;

const isActiveRoute = (section: string): boolean => {
  return pathname.startsWith(`${base}${section}`);
};

const isExactRoute = (route: string): boolean => {
  return pathname === `${base}${route}`;
};
---

<div id="mobile-navbar" class="header-height mobile-navbar">
  <div class="container-md container-fluid px-0 px-md-3">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid px-1 px-md-3">
        <a class="navbar-brand" href={`${base}`}>
          <img src={`${base}assets/images/neweratechnology_logo.svg`} alt="New Era Technology | México" width="120" class="d-md-none" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="bg-light p-2 d-block d-md-none text-extra-small text-dark text-uppercase">Soluciones</li>
            <li class="py-2 ps-3 pe-2 d-block d-md-none text-extra-small text-dark text-uppercase">
              <a href={`${base}soluciones/microsoft`} class={`text-muted ${isActiveRoute(`soluciones`) ? "active" : ""}`}>Microsoft</a>
            </li>
            <li class="ps-4 py-2">
              <a
                class={`dropdown-item text-primary ${isExactRoute("soluciones/microsoft/sharepoint") ? "active" : ""}`}
                href={`${base}soluciones/microsoft/sharepoint`}>SharePoint</a
              >
            </li>
            <li class="ps-4 py-2">
              <a
                class={`dropdown-item text-primary ${isExactRoute("soluciones/microsoft/power-automate") ? "active" : ""}`}
                href={`${base}soluciones/microsoft/power-automate`}>Power Automate</a
              >
            </li>
            <li class="ps-4 py-2">
              <a
                class={`dropdown-item text-primary ${isExactRoute("soluciones/microsoft/power-bi") ? "active" : ""}`}
                href={`${base}soluciones/microsoft/power-bi`}>Power BI</a
              >
            </li>
            <li class="py-2 ps-3 pe-2 d-block d-md-none text-extra-small text-dark text-uppercase">
              <a href={`${base}soluciones/cloud`} class={`text-muted ${isActiveRoute(`soluciones`) ? "active" : ""}`}>Cloud</a>
            </li>
            <li class="ps-4 py-2">
              <a
                class={`dropdown-item text-primary ${isExactRoute("soluciones/cloud/azure-devops") ? "active" : ""}`}
                href={`${base}soluciones/cloud/azure-devops`}>Azure DevOps</a
              >
            </li>
            <li class="ps-4 py-2">
              <a
                class={`dropdown-item text-primary ${isExactRoute("soluciones/cloud/azure-vmware") ? "active" : ""}`}
                href={`${base}soluciones/cloud/azure-vmware`}>Soluciones de Azure VMware</a
              >
            </li>
            <li class="p-2">
              <a
                class={`dropdown-item text-primary ${isExactRoute("soluciones/inteligencia-artificial") ? "active" : ""}`}
                href={`${base}soluciones/inteligencia-artificial`}>Inteligencia Artificial</a
              >
            </li>
            <li class="p-2">
              <a class={`dropdown-item text-primary ${isExactRoute("soluciones/starlims") ? "active" : ""}`} href={`${base}soluciones/starlims`}>STARLIMS</a>
            </li>
            <li class="bg-light p-2 d-block d-md-none text-extra-small text-dark text-uppercase">Servicios</li>
            <li class="p-2">
              <a
                class={`dropdown-item text-primary ${isExactRoute("servicios/servicios-administrados") ? "active" : ""}`}
                href={`${base}servicios/servicios-administrados`}>Servicios Administrados</a
              >
            </li>
            <li class="p-2">
              <a
                class={`dropdown-item text-primary ${isExactRoute("servicios/aseguramiento-de-la-calidad") ? "active" : ""}`}
                href={`${base}servicios/aseguramiento-de-la-calidad`}>Aseguramiento de Calidad</a
              >
            </li>
            <li class="bg-light p-2 d-block d-md-none text-extra-small text-dark text-uppercase">Nuestra Empresa</li>
            <li class="p-2">
              <a class:list={["dropdown-item", "text-primary", { active: isExactRoute("sobre-nosotros") }]} href={`${base}sobre-nosotros`}>Sobre nosotros </a>
            </li>
            <li class="p-2">
              <a class:list={["dropdown-item", "text-primary", { active: isExactRoute("ubicacion") }]} href={`${base}ubicacion`}>Ubicación</a>
            </li>
            <li class="p-2">
              <a class:list={["dropdown-item", "text-primary", { active: isExactRoute("socios") }]} href={`${base}socios`}>Socios</a>
            </li>
            <li class="bg-light p-2 d-block d-md-none text-extra-small text-dark text-uppercase">Recursos</li>
            <li class="p-2">
              <a class:list={["dropdown-item", "text-primary", { active: isExactRoute("casos-de-estudio") }]} href={`${base}casos-de-estudio`}
                >Casos de Estudio</a
              >
            </li>
            <li class="bg-light p-2 d-block d-md-none text-extra-small text-dark text-uppercase">Contacto</li>
            <li class="p-2">
              <a href={`${base}contacto`} class:list={["dropdown-item", "text-primary", { active: isExactRoute("contacto") }]}>Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
