---
import Cover from "@components/global/cover.astro";
import Layout from "@layouts/Layout.astro";

const config = {
  title: "Ubicación de Oficinas",
  background:
    'linear-gradient(180deg, rgba(13, 45, 106, 0.7) 0%, rgba(13, 45, 106, 0.7) 100%), url("/assets/images/iStock-615398376-1.jpg") !important',
};

const locations = [
  {
    zone: "America",
    countries: [
      {
        country: "Estados Unidos",
        offices: [
          {
            addressLines: ["4695 Chabot Dr.", "Suite 102 Pleasanton", "CA 94588", "United States"],
          },
          {
            addressLines: ["11450 Knott Street", "Garden Grove", "CA 92841", "United States"],
          },
          {
            addressLines: ["7 Progress Drive", "Cromwell", "CT 06416", "United States"],
          },
          {
            addressLines: ["4631 Woodland Corporate Blvd.", "Suite 101 Tampa", "FL 33614", "United States"],
          },
          {
            addressLines: ["901 Warrenville Road", "UNIT 210, Lisle", "IL 60532", "United States"],
          },
          {
            addressLines: ["7506 Honeywell Drive", "Fort Wayne", "IN 46825", "United States"],
          },
          {
            addressLines: ["8940 Vincennes Circle", "Indianapolis", "IN 46268", "United States"],
          },
          {
            addressLines: ["13565 McKinley Highway", "Suite 4 Mishawaka", "IN 46545", "United States"],
          },
          {
            addressLines: ["301 Pennsylvania Parkway", "Carmel", "IN 46280", "United States"],
          },
          {
            addressLines: ["3209 Union Pike", "Richmond", "IN 47374", "United States"],
          },
          {
            addressLines: ["2 Batterymarch Park", "Suite 401 Quincy", "MA 02169", "United States"],
          },
          {
            addressLines: ["70 Shawmut Rd", "Canton", "MA 02021", "United States"],
          },
          {
            addressLines: ["1405 Xenium Lane N.", "Suite 120, Plymouth", "MN 55441", "United States"],
          },
          {
            addressLines: ["5929 Baker Road", "Suite 475 Minnetonka", "MN 55345", "United States"],
          },
          {
            addressLines: ["3530 Toringdon Way", "404, Charlotte", "NC 28277", "United States"],
          },
          {
            addressLines: ["111 Maplewood Avenue", "Portsmouth", "NH 03801", "United States"],
          },
          {
            addressLines: ["111 Moonachie Avenue", "Unit 6 Caesar Place Moonachie", "NJ 07074", "United States"],
          },
          {
            addressLines: ["80 Route 4", "Suite 400, Paramus", "NJ 07652", "United States"],
          },
          {
            addressLines: ["7255 Bermuda Road", "Suite D, Las Vegas", "NV 89119", "United States"],
          },
          {
            addressLines: ["2950 Express Drive South", "Suite 112, Islandia", "NY 11749", "United States"],
          },
          {
            addressLines: ["1370 Avenue of the Americas", "10th Floor New York", "NY 10019", "United States"],
          },
          {
            addressLines: ["4445 Lake Forest Drive", "440, Cincinnati", "OH 45242", "United States"],
          },
          {
            addressLines: ["3445 Millennium Court", "Columbus", "OH 43219", "United States"],
          },
          {
            addressLines: ["8940 Lyra Drive 220", "Columbus", "OH 43240", "United States"],
          },
          {
            addressLines: ["1715 Indian Wood Circle", "Suite 260 Maumee", "OH 43537", "United States"],
          },
          {
            addressLines: ["9078 Union Centre Blvd", "Suite 200 West Chester Township", "OH 45069", "United States"],
          },
          {
            addressLines: ["901 S. Bolmar St.", "Bldg. 1, Suite G", "West Chester, PA 19382", "United States"],
          },
          {
            addressLines: ["2201 E Enterprise Avenue", "Suite 201 Appleton", "WI 54913", "United States"],
          },
          {
            addressLines: ["210 McClellan St", "Suite 100, 200, 201, 207, 307, 310", "Wausau, WI 54403", "United States"],
          },
          {
            addressLines: ["10400 West Innovation Drive", "Suite 100 Wauwatosa", "WI 53226", "United States"],
          },
        ],
      },
      {
        country: "Brasil",
        offices: [
          {
            addressLines: [
              "Rua Arquiteto Olavo Redig de Campos, 105",
              "Torre B – 24º Andar",
              "Chácara Santo Antônio",
              "São Paulo – SP, 04711-905",
              "Brazil",
            ],
          },
        ],
      },
      {
        country: "Canada",
        offices: [
          {
            addressLines: ["1430 Boulevard Saint-Martin Ouest", "Laval, QC H7S 1M9", "Canada"],
          },
          {
            addressLines: ["95 Mural St. Suite 600", "Richmond Hill, ON L4B 3G2", "Canada"],
          },
        ],
      },
    ],
  },
  {
    zone: "Reino Unido",
    offices: [
      {
        addressLines: ["17-23 High Street", "Slough", "Berkshire SL11DY", "UK"],
      },
    ],
  },
  {
    zone: "Europa",
    countries: [
      {
        country: "Bélgica",
        offices: [
          {
            addressLines: ["New Era Technology BE NV/SA", "Leuvensesteenweg 325", "1932 Zaventem", "Belgium"],
          },
        ],
      },
      {
        country: "Rumania",
        offices: [
          {
            addressLines: ["78 Constantin Brancusi st", "Cluj-Napoca", "Romania"],
          },
        ],
      },
    ],
  },
  {
    zone: "Asia - Pacífico",
    countries: [
      {
        country: "Australia",
        offices: [
          {
            addressLines: ["Suite 9.04, 30 Currie Street", "Adelaide, SA 5000", "Australia"],
          },
          {
            addressLines: ["Unit 6, 43-49 Sandgate Road", "Albion, Brisbane QLD 4010", "Australia"],
          },
          {
            addressLines: ["Unit 1 & 2, 140 Abernethy Road", "Belmont, Perth WA 6105", "Australia"],
          },
          {
            addressLines: ["Suite 4/321, Camberwell Road", "Camberwell, Melbourne VIC 3124", "Australia"],
          },
          {
            addressLines: ["Highpoint Building", "257/259 Central Coast Hwy,", "Erina, NSW 2250", "Australia"],
          },
          {
            addressLines: ["Suite 7.02,", "1 Chalmers Crescent", "Mascot, Sydney NSW 2020", "Australia"],
          },
          {
            addressLines: ["First Floor Suite 3, 160 Bridge Street", "Muswellbrook, NSW 2333", "Australia"],
          },
          {
            addressLines: ["75 Shortland Esplanade", "Newcastle, NSW 2300", "Australia"],
          },
          {
            addressLines: ["8 Manning Street", "Taree, NSW 2430", "Australia"],
          },
        ],
      },
      {
        country: "Filipinas",
        offices: [
          {
            addressLines: ["18/F Multinational Bancorporation Centre", "6805 Ayala Avenue", "Makati City, 1226", "Philippines"],
          },
        ],
      },
    ],
  },
  {
    zone: "Centros de Operaciones",
    countries: [
      {
        country: "Centro de Operaciones",
        offices: [
          {
            addressLines: ["Boston, MA, United States", "Melbourne, Australia", "Auckland, New Zealand", "Brighton, United Kingdom"],
          },
        ],
      },
      {
        country: "Centro de Operaciones AV",
        offices: [
          {
            addressLines: ["West Chester, PA", "United States"],
          },
        ],
      },
    ],
  },
  {
    zone: "Mena",
    countries: [
      {
        country: "Emiratos Árabes",
        offices: [
          {
            addressLines: ["#1703, Westburry Office Tower,", "Burj Khalifa District, Business Bay,", "PO Box : 32705,", "Dubai, UAE"],
          },
        ],
      },
    ],
  },
];
---

<Layout>
  <section id="ubicacion">
    <Cover config={config} />
    <!-- Stats -->
    <div class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex align-items-center">
            <div class="ps-md-5">
              <div class="py-4">
                <p class="text-primary text-bold text-giant">20,000+</p>
                <p class="text-muted text-bold text-large mt-4">Clientes valiosos</p>
              </div>

              <div class="py-4">
                <p class="text-primary text-bold text-giant">80+</p>
                <p class="text-muted text-bold text-large mt-4">Oficinas en el mundo</p>
              </div>

              <div class="py-4">
                <p class="text-primary text-bold text-giant">4,500+</p>
                <p class="text-muted text-bold text-large mt-4">Empleados</p>
              </div>
            </div>
          </div>
          <div class="col-8">
            <img src="/assets/images/newera-global-map-white.svg" alt="Oficinas de New Era en el Mundo" />
          </div>
        </div>
      </div>
    </div>

    <!-- Locations -->
    <div class="py-5">
      <div class="container pb-5">
        <div class="accordion" id="locations">
          {/* --- UBICACIONES MÉXICO (Actualizado) --- */}
          <div class="accordion-item border-top-0 border-start-0 border-end-0">
            <h4 class="accordion-header" id="headingMx">
              <button
                class="accordion-button text-large text-primary text-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseMx"
                aria-expanded="true"
                aria-controls="collapseMx"
              >
                México
              </button>
            </h4>
            <div id="collapseMx" class="accordion-collapse collapse show" aria-labelledby="headingMx">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-3 card-group px-2 py-3">
                    <p>
                      6075-A, Av. Acueducto Local 3<br />
                      Puerta de Hierro<br />
                      45116 Zapopan, Jal<br />
                      Mexico
                    </p>
                  </div>
                  <div class="col-md-3 card-group px-2 py-3">
                    <p>
                      Rio Rhin 77 8° Piso<br />
                      Cuauhtemoc<br />
                      Ciudad de México<br />
                      Mexico
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {
            locations.map((location, index) => (
              <div class="accordion-item border-top-0 border-start-0 border-end-0">
                <h4 class="accordion-header" id={`heading${index}`}>
                  <button
                    class="accordion-button collapsed text-large text-primary text-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target={`#collapse${index}`}
                    aria-expanded="false"
                    aria-controls={`collapse${index}`}
                  >
                    {location.zone}
                  </button>
                </h4>
                <div id={`collapse${index}`} class="accordion-collapse collapse" aria-labelledby={`heading${index}`}>
                  <div class="accordion-body">
                    {location.countries ? (
                      location.countries.map((country) => (
                        <div class="my-4">
                          <h5 class="text-primary">{country.country}</h5>
                          <div class="row py-3">
                            {country.offices.map((office) => (
                              <div class="col-md-3 card-group px-2 py-3">
                                <p>
                                  {office.addressLines.map((line, i) => (
                                    <>
                                      {line}
                                      {i < office.addressLines.length - 1 && <br />}
                                    </>
                                  ))}
                                </p>
                              </div>
                            ))}
                          </div>
                        </div>
                      ))
                    ) : (
                      <div class="row py-3">
                        {location.offices.map((office) => (
                          <div class="col-md-3 card-group px-2 py-3">
                            <p>
                              {office.addressLines.map((line, i) => (
                                <>
                                  {line}
                                  {i < office.addressLines.length - 1 && <br />}
                                </>
                              ))}
                            </p>
                          </div>
                        ))}
                      </div>
                    )}
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
