---
import Button from "./button.astro";

interface Props {
  config: {
    icon: string;
    title: string;
    body: string;
    color?: string;
    classes?: string;
    button?: {
      text: string;
      link: string;
    };
  };
}

const { icon, title, body, color = "bg-white", classes, button } = Astro.props.config;
---

<div class={`card ${color} ${classes}`}>
  <div class="card-body p-5 text-center">
    <img src={`/assets/images/${icon}`} alt="CloudBlu" width="90" />

    <p class="text-primary title text-large pt-4">{title}</p>
    <p class="text-lead py-3">{body}</p>
    {button ? <Button title={button.text} link={button.link} /> : null}
  </div>
</div>
