---
import Button from "./button.astro";

interface Props {
  config: {
    icon?: string;
    image?: string;
    title: string;
    body: string;
    color?: string;
    classes?: string;
    button?: {
      text: string;
      link: string;
    };
  };
}

const { icon, image, title, body, color = "bg-white", classes, button } = Astro.props.config;
---

<div class={`card ${color} ${classes}`}>
  <div class="card-body p-5 text-center">
    {icon ? <img src={`/assets/images/${icon}`} alt={title} width="90" /> : null}
    {image ? <img src={`/assets/images/${image}`} alt={title} class="img-fluid image" /> : null}

    <p class="text-primary title text-large pt-4">{title}</p>
    <p class="text-lead py-3">{body}</p>
    {button ? <Button title={button.text} link={button.link} /> : null}
  </div>
</div>

<style>
  .image {
    height: 150px; /* Ajusta la altura según tus necesidades */
    object-fit: contain; /* o cover, dependiendo del efecto deseado */
  }
</style>
