---
import Button from "./button.astro";

interface Props {
  config: {
    icon?: string;
    image?: string;
    title?: string;
    subtitle?: string;
    background?: string;
    button?: {
      title: string;
      link: string;
    };
  };
}

const { config } = Astro.props;
const { icon, image, background, title, subtitle, button } = config;
---

<section id="cover">
  <article
    class={`${background ? background : "cover"}`}
    style={`background: ${background}; background-size: cover !important; background-position: center center !important;`}
  >
    <div class="container content d-flex align-items-center px-5 py-md-0 py-3">
      <div class="mb-4">
        {icon && <img src={icon} alt={title} width="90" class="me-2" />}
        {image && <img src={image} alt={title} width="285" />}

        <div class="border-start border-5 border-secondary ps-3 mb-4">
          {title && <h1 class="text-white text-super-large">{title}</h1>}
          {subtitle && <h3 class="text-white text-large">{subtitle}</h3>}
        </div>

        {button && <Button title={button.title} link={button.link} class="btn-secondary" />}
        <slot />
      </div>
    </div>
  </article>
</section>

<style>
  .cover {
    background: radial-gradient(circle at center, #0f364c 20%, #031322 100%) !important;
  }

  .content {
    min-height: 380px;
    width: 100%;
  }
</style>
