---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

interface Props {
  config: {
    background?: string;
    slidesPerView: number;
    height?: number;
    width?: string;
    items: ISlider[];
  };
}

interface ISlider {
  image?: string;
  title?: string;
  description?: string;
}

const { config } = Astro.props;
const sliderHeight = config.height || 420;
---

<div class="swiper-container" style={`height: ${sliderHeight}px;`}>
  <div class="swiper-wrapper" style={`max-width: ${config.width}`}>
    {
      config.items.map((slide: ISlider) => (
        <div class={`swiper-slide ${config.background ? config.background : "bg-primary"}`}>
          <div class="slide-content">
            {slide.image ? <img src={`/assets/images/${slide.image}`} alt={slide.title} /> : null}
            {slide.title ? <h2>{slide.title}</h2> : null}
            {slide.title ? <p>{slide.description}</p> : null}
          </div>
        </div>
      ))
    }
  </div>
  <div class={`swiper-pagination ${config.background ? "light" : "dark"}`}></div>
  <div class={`swiper-button-prev ${config.background ? "light" : "dark"}`}></div>
  <div class={`swiper-button-next ${config.background ? "light" : "dark"}`}></div>
</div>

<script define:vars={{ slidesPerView: config.slidesPerView }} type="module">
  import Swiper from "/node_modules/swiper/swiper-bundle.mjs";
  import { Navigation, Pagination } from "/node_modules/swiper/modules/index.mjs";

  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(".swiper-container", {
      modules: [Navigation, Pagination],
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      slidesPerView: slidesPerView,
      spaceBetween: 30,
      slidesPerGroup: slidesPerView,
    });
  });
</script>

<style lang="scss">
  @use "../../styles/global/_config.scss" as *;

  .swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
      }
    }
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white-color;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    color: $secondary-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .swiper-button-prev.dark {
    background-color: transparent;
  }

  .swiper-button-next.dark {
    background-color: transparent;
  }

  .swiper-button-prev {
    left: 15px;
    transform: translateY(-50%) translateX(-100%);
  }

  .swiper-button-next {
    right: 15px;
    transform: translateY(-50%) translateX(100%);
  }

  .swiper-button-prev::after {
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    opacity: 100%;
  }

  .swiper-button-next::after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    opacity: 100%;
  }

  .swiper-container .swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba($dark-color, 0.4) !important;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1 !important;
  }

  .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba($secondary-color, 1) !important;
    opacity: 1 !important;
  }

  :global(.dark .swiper-pagination-bullet) {
    background-color: rgba($white-color, 0.2) !important;
  }

  :global(.dark .swiper-pagination-bullet-active) {
    background-color: rgba($secondary-color, 1) !important;
  }
</style>
