---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/grid";

const base = import.meta.env.BASE_URL;

interface Props {
  config: {
    slidesPerView: number;
    useGrid?: boolean;
    height?: number;
    mobileHeight?: number;
    width?: string;
    items: ISlider[];
  };
}

interface ISlider {
  image?: string;
}

const { config } = Astro.props;
const sliderHeight = config.height || 420;
const mobileHeight = config.mobileHeight || 50;
const sliderId = `slider-${Math.random().toString(36).substr(2, 9)}`;
const isGridView = config.useGrid || false;
---

<div class="swiper" style={`--slide-height: ${sliderHeight}px; --mobile-height: ${mobileHeight}px; --slide-width: ${config.width};`} id={sliderId}>
  <div class="swiper-wrapper">
    {
      config.items.map((slide: ISlider) => (
        <div class="swiper-slide">
          <div class="content-container p-5 p-md-0">
            <div class="slide-content d-flex align-items-center justify-content-center gap-2">
              {slide.image && <img src={`${base}/assets/images/${slide.image}`} class="img-fluid" />}
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  function updateSlideHeights() {
    const slides = document.querySelectorAll(".swiper-slide");
    slides.forEach((slide) => {
      if (slide instanceof HTMLElement) {
        const height = window.innerWidth <= 767 ? slide.getAttribute("data-mobile-height") : slide.getAttribute("data-height");
        slide.style.setProperty("--slide-height", `${height}px`);
        slide.style.setProperty("--slide-mobile-height", `${slide.getAttribute("data-mobile-height")}px`);
      }
    });
  }

  document.addEventListener("DOMContentLoaded", updateSlideHeights);
  window.addEventListener("resize", updateSlideHeights);
</script>

<script define:vars={{ config: config, sliderId, isGridView }} type="module">
  const base = import.meta.env.BASE_URL;
  const swiperPath = `${base}assets/swiper/swiper-bundle.mjs`;
  const swiperModulesPath = `${base}assets/swiper/swiper-bundle.mjs`;
  import Swiper from swiperPath;
  import { Navigation, Pagination, Grid } from swiperModulesPath;
  

  document.addEventListener("DOMContentLoaded", () => {
    const modules = [Navigation, Pagination, Grid];

    new Swiper(`#${sliderId}`, {
      modules,
      slidesPerView: 1,
      spaceBetween: 20,
      grid: {
        rows: 4,
        fill: "row",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        768: {
          slidesPerView: config.slidesPerView,
          spaceBetween: 30,
          grid: {
            rows: 1,
          },
        },
      },
    });
  });
</script>

<style lang="scss">
  @use "../../styles/global/_config.scss" as *;

  .swiper {
    width: 100%;
    max-width: var(--slide-width);
    height: var(--slide-height);
    padding: 20px 40px;
    position: relative;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      height: calc(var(--mobile-height) * 4);
      padding: 10px 0;
    }

    :global(.swiper-pagination) {
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
    }

    :global(.swiper-pagination-bullet) {
      width: 10px !important;
      height: 10px !important;
      background: rgb(0, 0, 0) !important;
      opacity: 1 !important;
      margin: 0 4px !important;

      @media (max-width: 767px) {
        background: rgb(255, 255, 255) !important;
      }
    }

    :global(.swiper-pagination-bullet-active) {
      background: $secondary-color !important;
      opacity: 1 !important;
    }
  }

  .swiper-slide {
    height: var(--slide-height);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      height: var(--mobile-height);
    }

    .content-container {
      width: 100%;
      padding: 10px;

      .slide-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 90%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $secondary-color;

    @media (max-width: 767px) {
      display: none;
    }
  }
</style>
